# backend/.env

DB_NAME=your-database-name-here
DB_USER=your-database-username-here
DB_PASSWORD=your-database-password-here
DB_HOST=localhost
DB_PORT=5432

# It is highly recommended to move your Django Secret Key here as well
DJANGO_SECRET_KEY= your-django-secret-key-here